.about-container {
  position: relative;
  /* Adjust width in media queries */
  margin-top: 200px;
  margin-bottom: 200px;
  padding: 0 110px 0 110px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-description {
  /* Adjust width in media queries */
  width: min(80%, 700px);
  margin-top: 50px;
  white-space: pre-wrap;
  padding: 0 15px 0 15px;
  border: var(--white) 1px ridge;
  z-index: 100;
}

.about-description > p {
  font-size: 18px;
  line-height: normal;
}

.about-description > p > span {
  color: var(--almond);
  font-weight: 700;
}

.hobbies-container {
  position: relative;
  width: 96vw;
  overflow-x: hidden;
  margin-top: 100px;
  z-index: 100;
}

.hobbies-scrollable {
  display: flex;
  white-space: pre-wrap;
  width: 1500px;
  height: 100%;
  animation: hobbies 30s linear infinite;
}

@keyframes hobbies {
  0% {
    transform: translateX(0%);
  }
  100% {
    /* arbitrary value that somehow worked... (every card shares 26%) */
    transform: translateX(-183%); 
  }
}

@media (max-width: 800px) {
  .about-container {
    padding: 0 50px 0 50px; 
    margin-top: 100px;
  }
}



@media (max-width: 650px) {
  .about-container {
    padding: 0 5px 0 5px; 
  }

  .about-description > p {
    font-size: 16px;
  }
}

#about-dot {
  background-color: var(--black);
  width: 380px;
  height: 380px;
  top: 50%;
  left: -80px;
  filter: drop-shadow(0px 0px 8px var(--black));
  z-index: 0;
}